.footer {
    display: flex;
    height: auto;
    padding: 25px 75px;
    background-color: #5E6181;
    color: $primary-color_10;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer-container-ul{
        padding-left: 0px;
    }
    h6 {
        font-family: $font-futura-medium;
        color: $primary-color_10;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .footer-left-side {
        display: flex;
    }
    .footer-left-side a {
        font-family: $font-futura-light;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color_10;
        cursor: pointer;
    }
    .footer-left-side a:hover{
        text-decoration: none;
        color: $primary-color_10;
    }
    .footer-right-upper {
        display: flex;
        justify-content: space-between;
    }
    .footer-contacts-part-one {
        display: flex;
    }
    .footer-contacts-part-two {
        display: block;
    }
    .foter-social {
        display: flex;
        justify-content: space-between;
    }
    i {
        font-size: 25px;
    }
    .foter-social img{
        color: $primary-color_10;
    }
    .footer-right-down input{
        margin-right: -1px;
    }
    .footer-right-down input{
        background-color: $primary-color-crystal-clear;
        color: $primary-color_4;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: solid 0.5px $primary-color_4;
        margin-right: -4px;
        margin-left: 30px;
        font-family: $font-futura-light;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.1em;
        text-transform: lowercase;
        padding: 4px 130px 0px 0px;
    }
    .footer-right-down input:focus {
        outline: none
    }
    .footer-logo {
        cursor: pointer;
        display: flex;
        padding: 0;
        margin-left: 25px;
    }
    p {
        @include font(12px, $font-futura-light, $primary-color_10, 300);
        line-height: 13px;
    }
    .footer-addres {
        @include font(18px, $font-futura-medium, $primary-color_10, 500);
        text-transform: uppercase;
    }
    .footer-email {
        @include font(18px, $font-futura-medium, $primary-color_10, 500); 
    }
}