.main-form {
    background-image: url("../img/HERO1.png");
    background-size: cover;
    display: block;
    padding: 25px;
    margin-top: -80px;
    width: 100%;
    height: 804px;
    text-align: center;

    .search-hotel {
        display: block;
        width: 76%;
        height: 110px;
        background-color: rgba(255,255,255, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 6px;
        margin: 70px auto;
    }
    .form-title {
        margin-top: 370px;
        line-height: 29px;
    }
    .form-wrapper {
        padding: 10px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .form-buttons {
        margin: 0 auto;
        padding: 0;
        margin-top: 50px;
    }
    .form-wrapper label {
        display: block;
        color: white;
    }
    .form-div, .form-div input {
        padding: 0;
        margin: 0;
    }
    .form-div input {
        height: 40px;
        background-color: rgba(255,255,255, 0);
        border: none;
        text-align: center;
        color: white;
        outline: none;
    }
    .form-div input::placeholder {
        color: white;
    }
}
// .hot-tours {
//     text-transform: uppercase;
// }