{% load static %}
<footer>
    <div class="footer">
        <div class="footer-left-side">
            <div class="footer-container-ul">
            <h6>Тури</h6>
                <ul class="footer-ul-one">
                    <li>авіа тури</li>
                    <li>гарячі тури</li>
                    <li>автобусні тури</li>
                </ul>
            </div>
            <div class="footer-container-ul">
            <h6>Інформація</h6>
                <ul class="footer-ul-two">
                    <li>як це працює</li>
                    <li>правова інформація</li>
                    <li>запитання відповіді</li>
                    <li>користувацька угода</li>
                </ul>
            </div>
            <div class="footer-container-ul">
            <h6>Про нас</h6>
                <ul className="footer-ul-three">
                    <li>про нас</li>
                    <li>блог</li>
                    <li>контакти</li>
                </ul>
            </div>
        </div>
        <div class="foter-right-side">
            <div class="footer-right-upper">
                <div class="footer-contacts-part-one">
                    <div class="footer-phone">
                        <h5 class="phone-number">0 800 500 505</h5>
                        <p>з 9:00 до 22:00 щодня</p>
                        <div class="foter-social">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-telegram-plane"></i>
                        </div>
                    </div>
                </div>
    
                <div class="footer-contacts-part-two">
                    <p class="footer-addres">рівне вул. соборна 67</p>
                    <p>Пн-Пт з 10:00 до 19:00</p>
                    <p>Сб з 11:00 до 15:00</p>
                    <p class="footer-email">ideatur@ukr.net</p>
                </div>
            </div>
            <div class="footer-right-down">
                <input type="text" value="email">
                <button>підписатись</button>
            </div>
        </div>
        <div class="footer-logo">
            <img src="{{ STATIC_PREFIX }}img/LogoIdeaTour.svg" alt="logo image"/>
        </div>
    </div>
</footer>