{% load static %}
<header>
    <div class="header">
        <div class="header-burger">
            <img src="{{ STATIC_PREFIX }}img/LogoIdeaTour.svg" alt="logo image" class="logo"/>
            <a href="#" class="burger-button">
                <span></span>
            </a>
        </div>
        <ul class="first-ul">
            <li><a href="#">Усі тури</a></li>
            <li><a href="#">Гарячі тури</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Інформація</a></li>
        </ul>
        <span class="header-contacts">
            <p>з 9:00 до 22:00 щодня</p>
            <p class="phone-number">0 800 500 505</p>
        </span>
        <ul class="second-ul">
            <li>укр</li>
            <li><i class="far fa-heart"></i></li>
            <li><i class="far fa-user"></i></li>
        </ul>
    </div>
</header>