// color palette
$primary-color_0: #F4F4F4;
$primary-color_1: #5E6181;
$primary-color_2: #595A6A;
$primary-color_3: #74799F;
$primary-color_4: #BDBDBD;
$primary-color_5: #4A4A4A;
$primary-color_6: #7A7878;
$primary-color_7: #EBF1FC;
$primary-color_8: #E2A271;
$primary-color_9: #FEDF24;
$primary-color_10: #FFFFFF;
$primary-color_11: #4A4A4A;
$primary-color-crystal-clear: rgba(0,0,0,0);