/* header */
.header {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 76px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 25px 0px 15px;
    position: relative;
}
.header-burger {
    display: flex;
    width: 18%;
}
.burger-button {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.burger-button span,
.burger-button span::before,
.burger-button span::after {
    position: absolute;
    top: 50%; 
    margin-bottom: -1px; 
    left: 50%; 
    margin-left: -12.5px; 
    width: 25px;
    height: 1px;
    background-color: white;
}
.burger-button span::before,
.burger-button span::after {
    content: '';
    display: block;
}
.burger-button span::before {
    transform: translateY(-7px);
}
.burger-button span::after {
    transform: translateY(5px);
}
.logo {
    width: 80px;
    height: 50px;
    cursor: pointer;
}
.header ul {
    list-style-type: none;
    height: 32px;
    padding: 0;
    margin: 0;
}
.header li {
    margin: 0px 15px;
}
.header a {
    text-decoration: none;
    color: white;
} 
.header i {
    color: white;
}
.first-ul {
    display: flex;
    width: 35%;
    justify-content: flex-end;
    text-transform: uppercase;
}
.header-contacts {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    flex-wrap: wrap;
    padding: 0px 50px;
}
.header-contacts p {
    line-height: 10px;
    padding: 0;
}
.second-ul {
    display: flex;
    width: 27%;
    justify-content: flex-end;
    justify-self: flex-end;
}
/* main */
.main-form {
    background-image: url("../img/HERO1.png");
    background-size: cover;
    display: block;
    padding: 25px;
    margin-top: -80px;
    width: 100%;
    height: 804px;
    text-align: center;
}
.search-hotel {
    display: block;
    width: 76%;
    height: 110px;
    background-color: rgba(255,255,255, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    margin: 70px auto;
}
.form-title {
    margin-top: 370px;
    font-size: 26px;
    line-height: 29px;
    color: #F4F4F4;
}
.form-wrapper {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-buttons {
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.form-wrapper label {
    display: block;
    color: white;
}
.form-div, .form-div input {
    padding: 0;
    margin: 0;
}
.form-div input {
    height: 40px;
    background-color: rgba(255,255,255, 0);
    border: none;
    text-align: center;
    color: white;
    outline: none;
}
.form-div input::placeholder {
    color: white;
}
/* footer */
.footer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 25px 0px;
    background-color: #5E6181;
    color: white;
}
.footer-left-side {
    display: flex;
    width: 47%;
    height: auto;
}
.footer-ul-one, .footer-ul-two, .footer-ul-three{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-container-ul {
    margin: 0 auto;
}
.foter-right-side {
    display: block;
    width: 35%;
    height: auto;
}
.footer-right-upper {
    display: flex;
    justify-content: space-between;
}
.footer-contacts-part-one {
    display: flex;
}
.footer-contacts-part-two {
    display: block;
}
.foter-social {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.foter-social i {
    font-size: 25px;
}
.foter-social img{
    color: white;
}
.footer-right-down input{
    background-color: rgba(0, 0, 0, 0);
    color: #BDBDBD;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 0.5px #BDBDBD;
    width: 60%;
}
.footer-right-down button{
    background-color: rgba(0, 0, 0, 0);
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #BDBDBD;
    border: 0.5px solid #BDBDBD;
    padding: 5px 10px;
}
.footer-logo {
    display: flex;
    width: 15%;
    padding: 0;
    margin-left: 25px;
}
.footer p {
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
}