{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="main-form col-12">
        <h1 class="form-title">Топ-10 найкращих сімейних готелів Єгипту →</h1>
        <form class="search-hotel">
            <div class="form-wrapper">
                <div class="form-div">
                    <label>Країна, місто, готель</label>
                    <input type="text" name="country" placeholder="Туреччина">
                </div>
                <div class="form-div">
                    <label>Місто вильоту</label>
                    <input type="text" name="country" placeholder="">
                </div>
                <div class="form-div for-date">
                    <label>Дата вильоту</label>
                    <input type="date" name="country" value="2020-01-01"
                            max="2030-01-01" min="2020-01-01" class="form-date" id="search-calendar">
                    <i class="far fa-calendar-minus"></i>
                </div>
                <div class="form-div">
                <label>Кількість ночей</label>
                    <input type="text" name="country" placeholder="">
                </div>

                <div class="form-div">
                    <label>Кількість осіб</label>
                    <input type="text" name="country" placeholder="">
                </div>
            </div>
            <div class="form-buttons col-8">
                <button class="button-main-style-two">Розширений пошук</button>
                <button class="button-main-style-one">Знайти тури</button>
            </div>
        </form>
    </div>
    <div class="hot-tours container col-12">
        <h2 class="hot-tour-title-big">гарячі тури</h2>
        <h3 class="hot-tour-title-low offset-1">гарячі тури</h3>
        <div class="tour-nav col-4">
            <ul class="row navigation-list">
                <li>популярні</li>
                <li>туреччина</li>
                <li>болгарія</li>
                <li>греція</li>
                <li>єгипет</li>
                <li>албанія</li>
                <li>оае</li>
            </ul>
        </div>
        <div class="container col-12">
            <div class="main-background col-12">

                <div class="hot-tour-card pic-one">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/1.png" alt="card-1"/>
                    </div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-two">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/2.png" alt="card-2"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-three">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/3.png" alt="card-3"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-four">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/4.png" alt="card-4"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-five">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/5.png" alt="card-5"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-six">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/6.png" alt="card-6"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-seven">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/7.png" alt="card-7"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>

                <div class="hot-tour-card pic-eight">
                    <div class="card-picture">
                        <img src="{{ STATIC_PREFIX }}img/main-photo-album/8.png" alt="card-8"/></div>
                    <div class="album-info">
                        <p class="album-raitings">
                            <i class="far fa-thumbs-up"></i><span class="album-raiting-like">10.0</span>
                            <i class="far fa-star"></i><span class="album-raiting-star">5</span>
                            <span class="album-people"><i class="far fa-user"></i><i class="far fa-user"></i></span>
                        </p>
                        <p class="album-location">Туреччина, белек</p>
                        <p class="album-tour-title">Adam&Eva Resort 5*</p>
                        <p class="album-price">15 822</p>
                    </div>
                </div>
            </div>
            <button class="button-main-style-one">більше турів</button>
            <div class="hot-tour-fluid col-12"></div>
        </div>

    </div>
    <div class="main-statistics container col-12 row " id="fb-root">
        <div class="col-3 stat-info">
            <div class="main-stat-num counter">5</div>
            <div class="main-stat-text">років на ринку туристичних послуг</div>
        </div>
        <div class="col-3 stat-info">
            <div class="main-stat-num counter">32</div>
            <div class="main-stat-text">туроператори</div>
        </div>
        <div class="col-3 stat-info">
            <div class="main-stat-num counter">10</div>
            <div class="main-stat-text">тис. задоволених туристів</div>
        </div>
        <div class="col-3 stat-info">
            <div class="main-stat-num counter">45</div>
            <div class="main-stat-text">країн світу</div>
        </div>
    </div>
    <div class="contact-us-main-form container row col-12">
        <div class="contact-us-main-form-example col-5">
            <article>
                <p class="contact-us-main-form-title">Немає часу на самостійні пошуки?</p>
                <p>Наші менеджери зроблять це для вас бекоштовно!<br>Заповніть заявку на підбір туру!</p>
                <form class="contact-us-main-form-on-easy">
                    <input type="text" placeholder="Ім'я" onfocus="this.value=''" class="col-10"/>
                    <input type="text" placeholder="Телефн" onfocus="this.value=''" class="col-10"/>
                    <!-- <label name="comunication">Спосіб комунікації</label> -->
                    <select type="text" class="col-10">
                        <option disabled selected value="Спосіб комунікації" class="disabled-option"> Спосіб комунікації</option>
                        <option>Дзвінок</option>
                        <option>Viber</option>
                        <option>Wat's up</option>
                        <option>Telegram</option>
                    </select>
                    <button class="button-main-style-one">підібрати тур</button>
                </form>
            </article>
        </div>
        <div class="contact-us-main-form-picture col-7">
            <img src="{{STATIC_PREFIX }}img/main-photo-album/img_form.png" class="img-in-form">
        </div>
    </div>
    <!-- <div class="main-blog container col-12">
        <h2 class="blog-title-big">блог</h2>
        <h3 class="blog-title-low">блог</h3>
        <div class="blog-nav col-4 offset-8">
            <ul class="navigation-list row">
                <li>#цікаве про туризм</li>
                <li>#топ рейтинг</li>
                <li>#поради</li>
                <li>#новини</li>
                <li>#від туроператорів</li>
                <li>#must visit</li>
            </ul>
        </div>
        <div class="main-blog-section">
            <section class="main-blog-section-first">
                <article class="blog-article-one"></article>
                <article class="blog-article-two"></article>
                <article class="blog-article-three">
                    <div class="blog-article-small-one">
                        <div class="blog-article-small-img1"></div>
                        <div class="blog-article-small-text1">
                            <a class="blog-article-small-text1-link">Рімні - гастрономічна перлина Італії</a>
                            <p>Топ закладів Ріміні. Відчуйте смак італійського літа. →</p>
                        </div>
                    </div>
                    <div class="blog-article-small-two">
                        <div class="blog-article-small-img2"></div>
                        <div class="blog-article-small-text2">
                            <a class="blog-article-small-text2-link">Топ-10 сімейних готелів Єгипту. </a>
                            <p>Ми склали власний рейтинг найкращих готелів Шарм-ель-Шейху та Хургади. Одразу з цінами →</p>
                        </div>
                    </div>
                    <div class="blog-article-small-three">
                        <div class="blog-article-small-img3"></div>
                        <div class="blog-article-small-text3">
                            <a class="blog-article-small-text3-link">Найкращі пляжі Санторіні</a>
                            <p>Топ закладів в Ріміні. Відчуйтесмак італійського літа. →</p>
                        </div>
                    </div>
                    <div class="blog-article-small-social">
                        <div class="blog-article-small-social-div-one">
                            <p>слідкуйте за актуальними новинами туризму з нами</p>
                            <p>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-telegram-plane"></i>
                            </p>
                        </div>
                        <div class="blog-article-small-social-div-two">
                            <button class="button-main-style-two">більше новин</button>
                        </div>
                    </div>
                </article>


            </section>
            <section class="main-blog-section-second">
                <div id="main-blog-slider">
                    <span id="main-blog-slider-left"><</span>
                    <span id="main-blog-slider-right">></span>
                </div>
                <article class="main-blog-section-second-article">
                    <p>ми склали власний рейтинг найкращих готелів Шарм-ель-Шейху та Хургади. Одразу з цінами →</p>
                </article>
            </section>
        </div>
    </div> -->
    <div class="main-tour-partners container col-12 row">
        <div class="main-tour-our-partners-left col-2">
            <p>наші<br> туристичні<br> партнери</p>
        </div>
        <div class="main-tour-our-partners-list col-10 row">
            <!-- <img src="{{STATIC_PREFIX}}img/partners/Coral-0.png"> -->
            <img src="{{STATIC_PREFIX}}img/partners/logo-alf.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-anex-tour.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-join-up.jpg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-kompas.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-mouzendis.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-pegas.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-tez-tour.svg">
            <img src="{{STATIC_PREFIX}}img/partners/logo-tui.svg">
        </div>
    </div>
    <div class="main-instagram container col-12">
        <div class="main-instagram-titles">
            <h2 class="insta-title-big">instagram</h2>
            <h3 class="insta-title-low">@ideatourrivne</h3>
        </div>
        <div class="main-instagram-album">
            <img src="{{ STATIC_PREFIX }}img/main-photo-album/img_gallery1.png" alt="instagram image 1" class="inst-img-1"/>
            <img src="{{ STATIC_PREFIX }}img/main-photo-album/img_gallery2.png" alt="instagram image 2" class="inst-img-2"/>
            <img src="{{ STATIC_PREFIX }}img/main-photo-album/img_gallery3.png" alt="instagram image 3" class="inst-img-3"/>
        </div>
    </div>
</main>

{% endblock %}