{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
<div class="main-form">
    <h1 class="form-title">Топ-10 найкращих сімейних готелів Єгипту →</h1>
    <form class="search-hotel">
        <div class="form-wrapper">
            <div class="form-div">
                <label>Країна, місто, готель</label>
                <input type="text" name="country" placeholder="Туреччина">
            </div>
            <div class="form-div">
                <label>Місто вильоту</label>
                <input type="text" name="country" placeholder="">
            </div>
            <div class="form-div">
                <label>Дата вильоту</label>
                <input type="date" name="country" value="2020-01-01"
                        max="2030-01-01" min="2020-01-01" class="form-date">
            </div>
            <div class="form-div">
            <label>Кількість ночей</label>
                <input type="text" name="country" placeholder="">
            </div>

            <div class="form-div">
                <label>Кількість осіб</label>
                <input type="text" name="country" placeholder="">
            </div>
        </div>
        <div class="row form-buttons">
            <button class="btn-danger">Розширений пошук</button>
            <button class="btn-success">Знайти тури</button>
        </div>
    </form>
</div>
</main>

{% endblock %}