.header {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 76px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 25px 0px 15px;
    position: relative;
}
.header-burger {
    display: flex;
    width: 18%;
}
.burger-button {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.burger-button span,
.burger-button span::before,
.burger-button span::after {
    position: absolute;
    top: 50%; 
    margin-bottom: -1px; 
    left: 50%; 
    margin-left: -12.5px; 
    width: 25px;
    height: 1px;
    background-color: white;
}
.burger-button span::before,
.burger-button span::after {
    content: '';
    display: block;
}
.burger-button span::before {
    transform: translateY(-7px);
}
.burger-button span::after {
    transform: translateY(5px);
}
.logo {
    width: 80px;
    height: 50px;
    cursor: pointer;
}
.header ul {
    list-style-type: none;
    height: 32px;
    padding: 0;
    margin: 0;
}
.header li {
    margin: 0px 15px;
}
.header a {
    text-decoration: none;
    color: white;
} 
.header i {
    color: white;
}
.first-ul {
    display: flex;
    width: 35%;
    justify-content: flex-end;
    text-transform: uppercase;
}
.header-contacts {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    flex-wrap: wrap;
}
.header-contacts p {
    line-height: 10px;
    padding: 0;
}
.second-ul {
    display: flex;
    width: 27%;
    justify-content: flex-end;
    justify-self: flex-end;
}